POSTGRES_DB=maxapp
POSTGRES_USER=maxuser
POSTGRES_PASSWORD=change_me
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://maxuser:change_me@db:5432/maxapp
BACKEND_PUBLIC_URL=https://poverka-test-api.liven8n.site
MINIAPP_PUBLIC_URL=https://poverka-test-app.liven8n.site
PGADMIN_PUBLIC_URL=https://poverka-test-pgadmin.liven8n.site
MAX_BOT_TOKEN=replace_me
MAX_WEBHOOK_SECRET=replace_me
MINIAPP_SHARED_SECRET=replace_me
